<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="Client" value="https://generator.swagger.io/api/gen/" />
    <add key="ClientParameter" value="https://generator.swagger.io/api/gen/clients/" />
  </appSettings>
</configuration>